/* Body tags */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
}

p {
    color: #8f8f8f;
}





#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bolder;

}

.nav-item {
    padding-right: 5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    font-size: 25px;
}

/* Title Section */
.big-heading {
    text-align: left;
}

.rat-title {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 27%;
    top: 22%;
}



/* Features*/

#features {
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
    z-index: 1;

}



.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}



.feature-box {
    text-align: center;
    padding: 5%;
}

/* Testimonials Section*/

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 40px 50px;
}

/* Pricing  Section*/

#pricing {
    padding: 200px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .rat-title {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* Call to Action Section  */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 4% 5%;
}

.cta-title {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 4.5rem;

}

.cta-button {
    margin-top: 150px;
}

/* Footer */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.copyright-paragraph {
    font-size: 2rem;
}

.footer-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}